<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- 这个BEAN定义中用于定义一些通用的类。该配置文件可以不需要更改 -->
<beans>
	<!-- 定义默认的应设关系。bean 的name同URI，这样直接对应访问地址和处理类 -->
	<bean id="handlerMapping"
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />

	<!-- 文件上传部分, 使用common upload。要保证环境中有apache的相关lib -->   
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 最大文件大小 (bytes) -->
        <property name="maxUploadSize">
            <value>52428800</value>
        </property>
    </bean> 
		
	<!-- 默认按act划分方法。如果那个处理类继承于 MultiActionController -->
	<bean id="paramResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
		<property name="paramName" value="act" />
	</bean>
	
</beans>